<html>
    <head>
        <style>
            body {background-color: skyblue; font-family: monospace; text-shadow: silver; text-transform: uppercase;}
            h1 {font-size: 50px;}
        </style>
    </head>
    <body>
        <h1>Welcome to the NODE website.</h1>
        <p>Age: <br> Job: <br> Hobbies:</p>
    </body>
</html>